h1 {
  font-family: 'Courier New', Tahoma, Arial, 'Times New Roman';
    color: #008080;
}
h2 {
  font-family: Tahoma, Arial, "Times New Roman";
    color: #008080;
}
button {
  background-color: #008080; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.typewriter {
  font-family: monospace;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* Cursor */
  width: 24ch; /* width matches the text length */
  animation:
    typing 4s steps(24, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 24ch;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
